# Service Name for Service Discovery
spring.application.name=claim-service
server.port=8081

# PostgreSQL Configuration
# Changed port from 5442 to 5432 to match user_db
spring.datasource.url=jdbc:postgresql://localhost:5442/user_db
spring.datasource.username=postgres
spring.datasource.password=k@0717975817
spring.jpa.hibernate.ddl-auto=update

# Hibernate Dialect - Fixes the "Unable to determine Dialect" error
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# Connecting to your Config Server
spring.config.import=optional:configserver:http://localhost:8888
# RabbitMQ Configuration
spring.rabbitmq.host=localhost
spring.rabbitmq.port=5672
spring.rabbitmq.username=guest
spring.rabbitmq.password=guest

# Optional: Ensure messages are sent as JSON
spring.mvc.converters.preferred-json-mapper=jackson